<div class="row p-3">
  <div class="col-8">
    Manage your job search all from one convenient application.  Start a mew search.  Add jobs to an existing search.  Get reports about searches.
  </div>
  <div class="col-4">
    <div class="card rounded border-2">
      <div class="card-header">
        <h5 class="card-title">Login</h5>
      </div>
      <form (submit)="login()" [formGroup]="loginForm" class="card-body">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <label for="username">Username:</label>
            </div>
            <div class="col-12">
              <input class="form-control" id="username" type="text" formControlName="username">
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label for="password">Password:</label>
            </div>
            <div class="col-12">
              <input class="form-control" id="password" type="password" formControlName="password">
            </div>
          </div>
          <div class="row">
            <div class="col-12 gy-3">
              <button type="submit" class="btn btn-primary">Login</button>
              <a routerLink="/register" class="btn btn-link">Register</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
