<div class="card rounded border-2">
    <div class="card-header">
        <h5 class="card-title">Login</h5>
    </div>
    <form class="card-body" [formGroup]="loginForm" (submit)="login()">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <label for="username">Username:</label>
                </div>
                <div class="col-12">
                    <input class="form-control" id="username" type="text" formControlName="username">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label for="password">Password:</label>
                </div>
                <div class="col-12">
                    <input class="form-control" id="password" type="text" formControlName="password">
                </div>
            </div>
            <div class="row">
                <div class="col-12 gy-3">
                    <button type="submit" class="btn btn-primary">Login</button>
                    <a routerLink="../register" class="btn btn-link">Register</a>
                </div>
            </div>
        </div>
    </form>
</div>
