<div class="row p-3">
  <div class="col-6">
    <div class="card rounded border-2">
      <div class="card-header">
        <div class="row">
          <div class="d-flex justify-content-between">
            <h5 class="card-title text-nowrap">Application Details</h5>
          </div>
        </div>
      </div>
      <div class="card-body">
        <form class="" [formGroup]="applicationForm">
          <div class="row p-1">
            <div class="col-3">Company Name</div>
            <div class="col-9"><input type="text" id="companyName" class="form-control" formControlName="companyName"></div>
          </div>
          <div class="row p-1">
            <div class="col-3">Job Title</div>
            <div class="col-9"><input type="text" maxlength="100" id="jobTitle" class="form-control" formControlName="jobTitle"></div>
          </div>
          <div class="row p-1">
            <div class="col-3">Company Web Site</div>
            <div class="col-9"><input type="text" id="companyWebSite" class="form-control" formControlName="companyWebSite"></div>
          </div>
          <div class="row p-1">
            <div class="col-3">Application Type</div>
            <div class="col-9">
              <select class="form-select" aria-label="Default select example" id="applicationTypeId" formControlName="applicationTypeId">
                <option *ngFor="let type of lookupService.ApplicationType" value="{{ type.applicationTypeId }}">{{ type.applicationTypeName }}</option>
              </select>
            </div>
          </div>
          <div class="row p-1">
            <div class="col-3">Application Source</div>
            <div class="col-9">
              <select class="form-select" aria-label="Default select example" id="applicationSourceTypeId" formControlName="applicationSourceTypeId">
                <option *ngFor="let type of lookupService.ApplicationSourceType" value="{{ type.applicationSourceTypeId }}">{{ type.applicationSourceTypeName }}</option>
              </select>
            </div>
          </div>
          <div class="row p-1">
            <div class="col-3">Salary Range</div>
            <div class="col-9">
              <input type="text" id="lowsalary" class="form-control" formControlName="lowSalary" placeholder="Low End Of Range">
              <input type="text" id="highsalary" class="form-control" formControlName="highSalary" placeholder="High End Of Range">
            </div>
          </div>
          <div class="row p-1">
            <div class="col-3">Requested Salary</div>
            <div class="col-9">
              <input type="text" id="requestedsalary" class="form-control" formControlName="requestedSalary">
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-between p-3">
        <button class="btn btn-primary" (click)="saveApplication()">Save Application</button>
        <button class="btn btn-secondary" (click)="cancelApplication()">Close</button>
      </div>
    </div>
  </div>
</div>
