<div class="card rounded border-2">
  <div class="card-header">
    <div class="row">
      <div class="d-flex justify-content-between">
        <h5 class="card-title text-nowrap">Contact List</h5>
        <button (click)="addContact()" class="btn btn-primary">Add Contact</button>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div *ngFor="let contact of contacts" class="contact-item">
      <div class="contact-info">
        <span>{{ contact.contactName }}</span>
        <span>{{ contact.companyName }}</span>
        <span>{{ contact.phoneNumber }}</span>
        <span>{{ contact.emailAddress }}</span>
      </div>
      <div class="contact-actions">
        <button (click)="editContact(contact.contactId)" class="btn btn-secondary">Edit</button>
        <button (click)="deleteContact(contact.contactId)" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>