<nav class="navbar navbar-expand bg-body-tertiary fixed-top bg-dark-subtle">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Job Search Manager</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="showMenuElements()">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/jobsearch">Searches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contacts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Account</a>
        </li>
        <li>
          <a class="nav-link" routerLink="/logout">Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
