<div class="card rounded border-2">
  <div class="card-header">
    <div class="row">
      <div class="d-flex justify-content-between">
        <h5 class="card-title text-nowrap">Application List - {{ searchName }}</h5>
        <button class="btn btn-dark text-nowrap" (click)="createNewApplication()">New Application</button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-sm caption-top">
      <thead>
      <tr>
        <th scope="col">Company Name</th>
        <th scope="col">Application Type</th>
        <th scope="col">Application Source</th>
        <th scope="col">Application Date</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody class="table-striped table-group-divider">
        <tr *ngFor="let application of applicationList">
          <td>{{ application.companyName }}</td>
          <td>{{ convertApplicationTypeIdToString(application.applicationTypeId) }}</td>
          <td>{{ convertApplicationSourceTypeIdToString(application.applicationSourceTypeId) }}</td>
          <td>{{ application.applicationDate | date: 'MM-dd-yyyy' }}</td>
          <td><button>View</button><button (click)="deleteApplication(application.applicationId)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
